/*                               *\                                    
    MEDIA QUERIES MOBILE 768px
\*                               */

/* NAVIGATION */

nav {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 100px;

}

.logo-Booki {
    height: 75px;
    width: 150;
    margin-bottom: 20px;
    margin-right: 80px;
}

ul {
    padding: 0%;
    margin: 0%;
}

li {
    margin: 0 15px 0 20px;
}

ul a:hover {
    border-bottom: 4px solid #0065FC;
    border-top: none;
    text-decoration: none;
}

/* BARRE DE RECHERCHE */

section {
    margin: 0 0 0 50px;
}

.search-bar{
    display: flex;
    margin-left: 5%;
}

.search-button {
    display: none;
}

.search-button-mobile{
    height: 35px;
    width: 40px;
    display: block;
    position: absolute;
    color: #F2F2F2;
    background-color: #0065FC;
    border-radius: 15px;
    margin-left: 222px;

    
}

#icon-loupe {
    color: #F2F2F2;
    font-size: 25px;
    display: block;
    position: absolute;
    margin-left: 236px ;
    margin-top: 8px;
}

/* FILTRES */

.filters {
    margin-top: 50px;
}

.filters div {
    padding: 10px;
}

#infos-head {
    padding-left: 15px;
}

/* LODGING */

.lodging {
    display: flex;
    flex-direction: column;
    height: auto;
}

.card-lodging{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 25px;
}