* {box-sizing: content-box;}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway' , sans-serif;
    background-color: #F2F2F2;
}

a {
    color: black;
    text-decoration: none;    
}

a:hover {
    color: #0065FC;
    text-decoration: none;
    transition-duration: 00.3s;
}

.fa-solid {
    color: #0065FC;
}

#grey-star {
    color: darkgrey;
}

main {
    display: flex;
    flex-direction: row;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 80px 0px;
}

.logo-Booki {
    height: 80px; ;
    width: auto;
    margin-left: 25px;
}

nav ul {
    display: flex ;
    list-style: none;
}

nav li {
    margin : 0 20px;
}

ul a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
    margin-top: 0px;
    text-decoration: none;
}

/* SEARCH BAR */

section {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 80px;
}

section h1 {
 font-size: 25px;
 font-weight: bold;
}

section input {
    flex-direction: row;
}

.map-button {
    position: absolute;
    height: 35px;
    width: 50px;
    border-radius: 15px;
    border-color: gainsboro;
}

.Where {
    position: absolute;
    height: 35px;
    margin-left: 50px;
}

.search-button {
    color: #F2F2F2;
    font-size: 20px;
    height: 35px ;
    margin-left: 220px;
    border-radius: 15px;
    background-color: #0065FC;
    border-color: #0065FC;
}

.search-button-mobile {
    display: none;
}

#icon-map {
    position: absolute;
    font-size: 20px;
    margin-left: 18px ;
    margin-top: 10px;
    z-index: 2;
}

#icon-loupe {
    display: none;
}

/* FILTERS */

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#icon-dollars {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    margin-left: 22px ;
}

#dollars-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: gainsboro;
    font-weight: bold;
    margin-left: 25px;
}

#icon-person {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    margin-left: 22px ;
}

#family-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: gainsboro;
    font-weight: bold;
    margin-left: 25px;  
}

#icon-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    margin-left: 22px ;
}

#heart-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: gainsboro;
    font-weight: bold;  
    margin-left: 25px;
}

#icon-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    margin-left: 22px ;
}

#animals-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: gainsboro;
    font-weight: bold;
    margin-left: 28px;
    padding-left: 28px;
}

#infos-head {
    display: flex;
    flex-direction: row;
}

#icon-info {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border-radius: 20px;
    margin-top: 10px;
}

#infos-head p {
    padding-left: 15px ;
}

/* LODGING */

.lodging {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
}

.card-lodging{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
}

.card-1 {
    height: 350px;
    width: 350px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 30px;
    margin: 10px;
}

.card-img {
    height: 220px;
    width: auto;
    position: relative;
    overflow: hidden;
}

.card-1:hover {
    transform: translate(1%,-1%) ;
    transition-duration: 0.3s;
}

.card-img img {
    height: auto;
    width: 95%;
    position: absolute;
    margin-left: 3%;
    border-radius: 20px;
    top: 3%;
}

.card-title {
    margin-left: 20px;
}

.card-text {
    margin-left: 20px;
}

.notation {
    margin-left: 20px ;
}

.see-more{
    font-weight: bold;
    margin-top: 10px;
}

/* POPULAR */

.popular {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.popular-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-popular {
    border-radius: 15px;
    background-color: lightgrey;
}

.card-2 {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 400px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 15px;
    margin: 10px;
}

.card-2-image {
    display: flex;
    flex-direction: row;
    height: 240px;
    width: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    top: 2%;
    left: 2%;
}