* {box-sizing: content-box;}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway' , sans-serif;
    background-color: #F2F2F2;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 80px 0px;
}

.logo-Booki {
    height: 80px; ;
    width: auto;
    margin-left: 25px;
}

nav ul {
    display: flex ;
    list-style: none;
}

nav li {
    margin : 0 20px;
}

ul a {
    color: black;
    text-decoration: none;
}

ul a:hover {
    border-top: 4px solid #0065FC;
    margin-top: 0px;
    text-decoration: none;
}

/* SEARCH BAR */

section {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 80px;
}

section h1 {
 font-size: 25px;
 font-weight: bold;
}

section input {
    flex-direction: row;
}

.map-button {
    position: fixed;
    height: 35px;
    width: 50px;
    border-radius: 15px;
    border-color: gainsboro;
}

.Where {
    position: absolute;
    height: 35px;
    margin-left: 50px;
}

.search-button {
    color: #F2F2F2;
    font-size: 20px;
    height: 35px ;
    margin-left: 220px;
    border-radius: 15px;
    background-color: #0065FC;
    border-color: #0065FC;
}

.search-button-mobile {
    display: none;
}

#icon-map {
    position: absolute;
    font-size: 20px;
    margin-left: 18px ;
    margin-top: 10px;
    z-index: 2;
}

#icon-loupe {
    display: none;
}

/* FILTERS */

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#icon-dollars {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #0065FC;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    margin-left: 15px ;
}

#dollars-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: gainsboro;
    font-weight: bold;
    margin-left: 25px;
}

#icon-person {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #0065FC;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    margin-left: 15px ;
}

#family-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: gainsboro;
    font-weight: bold;
    margin-left: 25px;  
}

#icon-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #0065FC;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    margin-left: 15px ;
}

#heart-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: gainsboro;
    font-weight: bold;  
    margin-left: 25px;
}

#icon-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #0065FC;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    margin-left: 15px ;
}

#animals-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: gainsboro;
    font-weight: bold;
    margin-left: 25px;  
}