* {box-sizing: content-box;}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway' , sans-serif;
    background-color: #fff;
}

a {
    color: black;
    text-decoration: none;    
}

a:hover {
    color: #0065FC;
    text-decoration: none;
    transition-duration: 00.3s;
}

.fa-solid {
    color: #0065FC;
}

#grey-star {
    color: darkgrey;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 20px 0px;
}

.logo-Booki {
    height: 50px; ;
    width: auto;
    margin-left: 90px;
}

nav ul {
    display: flex ;
    list-style: none;
}

nav li {
    margin : 0px;
}

ul a {
    padding: 31px 31px 0px 31px;
}

ul a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
    margin-top: 0px;
    text-decoration: none;
    transition-duration: 0s;
}

/* SEARCH BAR */

section {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 80px;
}

section h1 {
 font-size: 25px;
 font-weight: bold;
}

section input {
    flex-direction: row;
}

.map-button {
    position: absolute;
    height: 50px;
    width: 70px;
    border-radius: 20px;
    border-color: #F2F2F2;
}

.Where {
    position: absolute;
    height: 50px;
    margin-left: 50px;
}

.search-button {
    color: #F2F2F2;
    font-size: 25px;
    height: 50px ;
    margin-left: 220px;
    border-radius: 20px;
    background-color: #0065FC;
    border-color: #0065FC;
}

.search-button-mobile {
    display: none;
}

#icon-map {
    color: black;
    position: absolute;
    font-size: 20px;
    margin-left: 18px ;
    margin-top: 18px;
    z-index: 2;
}

#icon-loupe {
    display: none;
}

/* FILTERS */

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#icon-dollars {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #DEEBFF;
    margin-left: 22px ;
}

#dollars-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: #F2F2F2;
    font-weight: bold;
    margin-left: 25px;
}

#dollars-button:hover{
    background-color: #0065FC;
    border-color: #0065FC;
    color: #fff;
}

#icon-person {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #DEEBFF;
    margin-left: 22px ;
}

#family-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: #F2F2F2;
    font-weight: bold;
    margin-left: 25px;  
}

#family-button:hover {
    background-color: #0065FC;
    border-color: #0065FC;
    color: #fff;
}

#icon-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #DEEBFF;
    margin-left: 22px ;
}

#heart-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: #F2F2F2;
    font-weight: bold;  
    margin-left: 25px;
}

#heart-button:hover {
    background-color: #0065FC;
    border-color: #0065FC;
    color: #fff;
}

#icon-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #DEEBFF;
    margin-left: 22px ;
}

#animals-button {
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border-color: #F2F2F2;
    font-weight: bold;
    margin-left: 28px;
    padding-left: 28px;
}

#animals-button:hover {
    background-color: #0065FC;
    border-color: #0065FC;
    color: #fff;
}

#infos-head {
    display: flex;
    flex-direction: row;
}

#icon-info {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 15px;
    margin-top: 10px;
}

#infos-head p {
    padding-left: 15px ;
}

/* LODGING */

.mobil-column {
    display: flex;
    flex-direction: row;
}

#lodging {
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.card-lodging{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.card-1 {
    height: 350px;
    width: 350px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 30px;
    margin: 10px;
}

.card-img-container {
    width: 100%;
    height: 65%;
}

.card-img {
    object-fit: fill;
    height: 100% ; 
    width: 100% ;
    overflow: hidden;
}

.card-1:hover {
    transform: translate(1%,-1%) ;
    transition-duration: 0.3s;
}

.card-img img {
    display: flex;
    justify-content: center;
    max-height: 100%;
    width: 95%;
    margin-left: 2%;
    border-radius: 20px;
    margin-top: 3%;
}

.card-title {
    margin-left: 20px;
}

.card-text {
    margin-left: 20px;
}

.notation {
    margin-left: 20px ;
}

.see-more{
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 950px;
    margin-bottom: 10px;
}

/* POPULAR */

#popular {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 30%;
}

.popular-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#black-star {
    margin-left: 180px;
    color: black;
}

.card-popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #F2F2F2;
}

.card-2 {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 400px;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 15px;
    margin: 10px;
}

.card-2:hover {
    transform: translate(1%,-1%) ;
    transition-duration: 0.3s;
}

.card-2-img-container {
    width: 40%;
    height: 95%;
}

.card-2-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 4%;
    margin-left: 3%;
}

.card-2-infos {
    margin-left: 2%;
}

/* ACTIVITY */

#activity {
    margin-top: 25px;
    height: 700px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.card-activity {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card-3-rigth {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
}


.card-3-left {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
    margin-left: 50px;
}

.card-high {
    height: 90% ;
    width: 50% ;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 25px;
    margin: 10px;
}

.card-high:hover {
    transform: translate(1%,-1%) ;
    transition-duration: 0.3s;
}

.card-high h3{
    margin-left: 5%;
    margin-top: 20px;
    font-size: 25px;
}

.card-img-high-container {
    width: 100%;
    height: 90%;
}

.card-3-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% ; 
    width: 100% ;
    border-radius: 25px;
    overflow: hidden;
}


.card-wide-container{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
}

.card-wide {
    height: 80% ;
    width: 100% ;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 25px;
    margin: 10px 10px 60px 25px ;
}

.card-wide:hover {
    transform: translate(1%,-1%) ;
    transition-duration: 0.3s;
}

.card-img-wide-container {
    width: 100%;
    height: 80%;
}

.card-4-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100% ; 
    width: 100% ;
    border-radius: 15px;
    overflow: hidden;
}

.card-wide h3 {
    margin-left: 5%;
    margin-top: 10px;
    font-size: 25px;
}