/*                               *\                                    
MEDIA QUERIES TABLETTE 992
\*                               */

/* NAVIGATION */

nav ul {
    margin: 0 0px 0 0px;
}

ul a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
    margin-top: 0px;
    text-decoration: none;
    transition-duration: 0s;
}

/* LODGING */

#lodging {
    position: absolute;
    margin: 0 0 0 0px;
    background-color: #fff;
    margin-left: 25px;
}

#lodging h2 {
    margin-right: 530px;
    margin-top: 30px;
}

.mobil-column {
    display: flex;
    flex-direction: row;
}

.lodging {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.card-lodging{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 15px;
}

.card-1:hover {
    transform: translate(0%,0%) ;
    transition-duration: 0s;
}

.see-more{
    font-weight: bold;
    font-size: 25px;
    margin-right: 530px;
}

/* POPULAR */

#popular {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 1600px;
    margin-left: 460px;
    background-color: #fff;
    width: 50%;
}

.popular-title {
    margin-bottom: 3px;
}

.card-popular {
    background-color: #fff;
    width: 500px;
}

.card-2:hover {
    transform: translate(0%,0%) ;
    transition-duration: 0s;
}

/* ACTIVITY */

#activity {
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 90%;
    margin-left: 47%;
}

.card-activity {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 50%;
}

.card-3-rigth {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.card-3-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80%;
    width: 100%;
    margin-top: 121%;
    margin-left: 0px;
}

.card-high {
    height: 100% ;
    width: 100% ;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 25px;
}

.card-high:hover {
    transform: translate(0%,0%) ;
    transition-duration: 0s;
}

.card-high h3{
    margin-left: 5%;
    margin-top: 3px;
    font-size: 25px;
}

.card-img-high-container {
    width: 100%;
    height: 85%;
}

.card-wide {
    margin: 10px 10px 5px 25px ;
}

.card-wide-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    margin-top: 280px;
    margin-left: -26px;
}

.card-4-img {
    height: 100% ; 
    width: 100% ;
}

.card-wide:hover {
    transform: translate(0%,0%) ;
    transition-duration: 0s;
}

/* FOOTER */

#footer-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    margin-left: 0px;
    margin-top: 2750px;
}

.foot-info-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.foot-info-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.foot-info-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}